<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!-- Links head -->
<head th:replace="fragments::head"></head>
<body>
<div id="app">
    <div class="main-wrapper">

        <head th:replace="fragments::navbar"></head>
        <head th:replace="fragments::sidebar"></head>

        <div class="main-content">
            <section class="section">
                    <h1 class="section-header">
                    <div>PLAN NA DZIŚ</div>
                </h1>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="card card-sm-3">
                            <div class="card-icon bg-primary">
                                <i class="ion-ios-briefcase-outline"></i>
                            </div>
                            <div class="card-wrap">
                                <div class="card-header">
                                    <h4>Praca</h4>
                                </div>
                                <div class="card-body">
                                    10
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="card card-sm-3">
                            <div class="card-icon bg-warning">
                                <i class="ion-university"></i>
                            </div>
                            <div class="card-wrap">
                                <div class="card-header">
                                    <h4>Nauka</h4>
                                </div>
                                <div class="card-body">
                                    12
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="card card-sm-3">
                            <div class="card-icon bg-danger">
                                <i class="ion-coffee"></i>
                            </div>
                            <div class="card-wrap">
                                <div class="card-header">
                                    <h4>Spotkania</h4>
                                </div>
                                <div class="card-body">
                                    42
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="card card-sm-3">
                            <div class="card-icon bg-success">
                                <i class="ion-android-bicycle"></i>
                            </div>
                            <div class="card-wrap">
                                <div class="card-header">
                                    <h4>Hobby</h4>
                                </div>
                                <div class="card-body">
                                    7
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div id="v-cal">
                        <div class="vcal-header">
                            <button class="vcal-btn" data-calendar-toggle="previous">
                                <svg height="24" version="1.1" viewbox="0 0 24 24" width="24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
                                </svg>
                            </button>

                            <div class="vcal-header__label" data-calendar-label="month">
                                March 2017
                            </div>


                            <button class="vcal-btn" data-calendar-toggle="next">
                                <svg height="24" version="1.1" viewbox="0 0 24 24" width="24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
                                </svg>
                            </button>
                        </div>
                        <div class="vcal-week">
                            <span>Poniedziałek</span>
                            <span>Wtorek</span>
                            <span>Środa</span>
                            <span>Czwartek</span>
                            <span>Piątek</span>
                            <span>Sobota</span>
                            <span>Niedziela</span>
                        </div>
                        <div class="vcal-body" data-calendar-area="month"></div>
                    </div>

                    <p class="demo-picked">
                        Date picked:
                        <span data-calendar-label="picked"></span>
                    </p>
                </div>

                <div class="row">
                    <div class="col-lg-8 col-md-12 col-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="float-right">
                                    <div class="btn-group">
                                        <a href="#" class="btn active">Tydzień</a>
                                        <a href="#" class="btn">Mięsiąc</a>
                                        <a href="#" class="btn">Rok</a>
                                    </div>
                                </div>
                                <h4>Statystyki</h4>
                            </div>

                            <div class="card-body">
                                <canvas id="myChart" height="158"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Ostatnio dodane</h4>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled list-unstyled-border">
                                    <li class="media">
                                        <div class="media-body">
                                            <div class="media-title">16.10.2018 16:00</div>
                                            <small>Wideokonferencja z Grzegorzem
                                            </small>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="media-body">
                                            <div class="media-title">26.10.2018 23:59</div>
                                            <small>Smart calendar - deadline!
                                            </small>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="media-body">
                                            <div class="media-title">01.11.2018 09:00</div>
                                            <small>Spotkanie rodzinne
                                            </small>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="media-body">
                                            <div class="media-title">10.11.2018 19:00</div>
                                            <small>Parapetówka u Jakuba Kowalika.
                                            </small>
                                        </div>
                                    </li>
                                </ul>
                                <div class="text-center">
                                    <a href="#" class="btn btn-primary btn-round">
                                        Wyświetl wszystko
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-12 col-sm-12">
                        <form method="post" class="needs-validation" novalidate="">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Dodaj notatkę</h4>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Tytuł</label>
                                        <input type="text" name="title" class="form-control" required="required"/>
                                        <div class="invalid-feedback">
                                            Dodaj tytuł
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Treść</label>
                                        <textarea class="summernote-simple"></textarea>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-primary">Zapisz</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-lg-7 col-md-12 col-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Zaplanowane na dziś</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Do zrobienia</th>
                                            <th>Kategoria</th>
                                            <th>Edytuj</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                Spotkanie z inwestorem
                                            </td>
                                            <td>
                                                <a href="#"> <i class="ion-ios-briefcase-outline"></i> Praca</a>
                                            </td>
                                            <td>
                                                <a class="btn btn-primary btn-action mr-1" data-toggle="tooltip"
                                                   title="Edit"><i class="ion ion-edit"></i></a>
                                                <a class="btn btn-danger btn-action" data-toggle="tooltip"
                                                   title="Delete"><i class="ion ion-trash-b"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Siłownia
                                            </td>
                                            <td>
                                                <a href="#"> <i class="ion-android-bicycle"></i> Hobby</a>
                                            </td>
                                            <td>
                                                <a class="btn btn-primary btn-action mr-1" data-toggle="tooltip"
                                                   title="Edit"><i class="ion ion-edit"></i></a>
                                                <a class="btn btn-danger btn-action" data-toggle="tooltip"
                                                   title="Delete"><i class="ion ion-trash-b"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Zajęcia z angielskiego
                                            </td>
                                            <td>
                                                <a href="#"> <i class="ion-university"></i> Nauka</a>
                                            </td>
                                            <td>
                                                <a class="btn btn-primary btn-action mr-1" data-toggle="tooltip"
                                                   title="Edit"><i class="ion ion-edit"></i></a>
                                                <a class="btn btn-danger btn-action" data-toggle="tooltip"
                                                   title="Delete"><i class="ion ion-trash-b"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                               Spotkanie z Anią
                                            </td>
                                            <td>
                                                <a href="#"> <i class="ion-coffee"></i> Spotkania</a>
                                            </td>
                                            <td>
                                                <a class="btn btn-primary btn-action mr-1" data-toggle="tooltip"
                                                   title="Edit"><i class="ion ion-edit"></i></a>
                                                <a class="btn btn-danger btn-action" data-toggle="tooltip"
                                                   title="Delete"><i class="ion ion-trash-b"></i></a>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Footer -->
        <footer th:replace="fragments::footer"></footer>
    </div>
</div>
<script src="js/vanillaCalendar.js" type="text/javascript"></script>
<script>
    window.addEventListener('load', function () {
        vanillaCalendar.init({
            disablePastDays: true
        });
    })
</script>
<script src="/modules/jquery.min.js"></script>
<script src="/modules/popper.js"></script>
<script src="/modules/tooltip.js"></script>
<script src="/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="/modules/nicescroll/jquery.nicescroll.min.js"></script>
<script src="/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
<script src="/js/sa-functions.js"></script>
<script src="/modules/chart.min.js"></script>
<script src="/modules/summernote/summernote-lite.js"></script>

<script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota", "Niedziela"],
            datasets: [{
                label: 'Ilość zaplanowanych zdarzeń',
                data: [10, 8, 13, 9, 14, 4, 1],
                borderWidth: 2,
                backgroundColor: 'rgb(87,75,144)',
                borderColor: 'rgb(87,75,144)',
                borderWidth: 2.5,
                pointBackgroundColor: '#ffffff',
                pointRadius: 4
            }]
        },
        options: {
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        stepSize: 20
                    }
                }],
                xAxes: [{
                    ticks: {
                        display: false
                    },
                    gridLines: {
                        display: false
                    }
                }]
            },
        }
    });

</script>
<script src="/js/scripts.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/demo.js"></script>

</body>
</html>