
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<form action="#" th:action="@{/notification}" th:object="${schedulerEmailRequest}" method="post">
    <div class="form-group col-6">
        <label>email</label>

    <input type="text" th:field="*{email}" />
    </div>

    <div class="form-group col-6">
        <label>subject</label>
        <input type="text" th:field="*{subject}" />
    </div>
    <div class="form-group col-6">
        <label>body</label>
    <input type="text" th:field="*{body}" />
    </div>
    <div class="form-group col-6">
        <label>data time</label>
    <input type="datetime-local" th:field="*{dateTime}" />
    </div>
    <!--<div class="form-group col-6">
    <label>strefa czasowa</label>
    <input type="text" th:field="*{timeZone}" />
    </div>-->

    <div class="card-footer">
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </div>

</form>
</html>